table{
  width: 60vw;
}
mat-cell-id{
  height: 3rem;
}
.header{
  background-color: blue;
  color: black;
  height: 4rem;
}
.cells{
  background-color: rgb(1, 1, 61);
  color: black;
  height: 4rem;
}
.row{
  color: purple;
}
